form{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.input{
    padding: 5px;
    /*margin-bottom: 5vh;*/
    border: 1px solid #660066;
    background-color: #ae74ea;
    color: burlywood;
    font-size: 1.5rem;
    resize: none;
    outline: none;
    width: 80%;
    margin: 0  auto 5vh;
}
.checkbox input{
    margin-right: 10px;
}
.checkbox{
    color: burlywood;
}