.content{
    background-color: #9966CC;
    padding: 0 0px 5px 0px;
    color: burlywood;
}
.content img{
    width: 60%;
    height: 40vh;
    margin: 0 auto;
}

.content .profile{
    padding: 2vmin;
}

.content .profile > div:first-child{
    margin-bottom: 5vmin;
}
